@charset 'UTF-8';

/********* common_layout *********/
html, body {height:100%;}
body {line-height:1.3; color:#333; font-family: 'Noto Sans KR', 'sans-serif'; font-size:15px;}
.wrapper {position:relative; z-index:1; min-height:100%;}
.container {position:relative; z-index:10; max-width:1200px; margin:0 auto;}


/* layout */
.contents {padding-bottom:120px;}



/* skip navi */
.skip_navi {position:absolute; z-index:999999; width:100%; left:0; top:0; text-align:center;}
.skip_navi a {display:block; position:absolute; left:0; top:-9999px; z-index:1; width:100%; height:40px; line-height:40px; background-color:#333; color:#fff; font-size:20px; font-weight:700;}
.skip_navi a:hover, .skip_navi a:focus {top:0;}


/* header */
.header {position:relative; z-index:9999; padding-top:30px; border-bottom:1px solid rgba(255, 255, 255, 0.3);}
.gnb_header {top:-100px; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}
.head_logo {position:absolute; left:0; top:50%; z-index:1; margin-top:-30px;}
.gnb_header .gnb {width: 73%; float:right; padding-right: 50px;}
.gnb_header .gnb > li {position: relative; float:left; z-index:1; width: 13%;  }
.gnb_header .gnb > li.service{display: none;}
.gnb_header .gnb > li:nth-child(1) > a > span {color: #fff !important; padding: 5px 10px; background: #005b9e; border-radius: 10px;}

.gnb_header .gnb > li:nth-child(2) {
    width: 14%;
}

.gnb_header .gnb > li:nth-child(3) {
    width: 14%;
}

.gnb_header .gnb > li:nth-child(4) {
    width: 14%;
}

.gnb_header .gnb > li:nth-child(5) {
    width: 13%;
}

.gnb_header .gnb > li:nth-child(6) {
    width: 16%;
}
.gnb_header .gnb > li:nth-child(2) > a {padding-left: 10px;}
.gnb_header .gnb > li > a {display:block; height:90px; text-align: left; line-height:70px; font-size:1.200em; font-weight:700; font-family:"NanumSquare"; color: #fff;}
.gnb_header .gnb > li > a:hover{color: #003b67; font-weight: 700;}
.gnb_header .gnb > li > a:after {content:""; display:block; position:absolute; left:0; bottom:3px; z-index:1; width:0; height:3px;
background-color:#2e51ad; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}
.gnb_header .gnb > li:hover > a:after,.gnb_header .gnb > li:focus > a:after {width:60px;}
.gnb_header .sub_gnb {display:none; position:absolute; left:0; top:90px; z-index:1; width:100%; height: 370px; padding-top: 20px; padding-left: 5px; background-color:#FFF; }
.gnb_header .sub_gnb li a {position: relative; display:block; height:auto; padding: 5px 0; font-size: 0.933em;
transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s; word-break: keep-all;}
.gnb_header .sub_gnb:after {content:''; position:absolute; display:block; right:0px; top:0; width:1px; height:370px; background-color:#dedede;}
.gnb_header .gnb > li:nth-child(6) .sub_gnb:after{ display:none}
.gnb_header .sub_gnb li a:hover,.gnb_header .sub_gnb li a:focus {color:#005b9e; font-weight: 700;}
.gnb_header .gnb > li:hover .sub_gnb {background-color: #f7fafd;}
.gnb_header .sub2_gnb {display: none;}
.gnb_header .sub_left_menu2 {display:none; padding:0 30px; border-top:2px solid #005b9e; background-color: #f4f4f4; overflow: hidden;}
.util_header {position:absolute; top:0; z-index:1; width:100%;}
.util_header .container {height:30px; line-height:30px; padding-top: 7px;}
.home_link {color:#fff;}


.util_link{position: relative; display: inline-block; height: 24px; margin-right: 20px; font-weight: 400; font-size: 0.867em; color: #fff; }
.util_link:after{content: ''; position: absolute; top: 9px; right: -13px; display: inline-block; width: 1px; height: 13px; background-color: #ccc;}
.util_link:last-child:after{display: none;}
.util_link.login{}
.util_link.join{}
.util_link.eng{; color: #fb1829;}
.util_link.kor{margin-right: 0;}
/* 2018-07-27 추가 */
.util_header .util_sns {position: relative; top:0px; display: inline-block; width: 62px; height: 25px; margin-right: 5px; text-align: center;}
.util_header .util_sns2 {border-left: 0 none; margin-right: 15px;}
.util_header .util_sns img {margin-top: 5px;}
/* 2019-04-01 추가*/
.util_link[href*="/eng"] {margin-right: 0;}
.util_link[href*="/eng"]:after {display: none;}
/*.util_link[href*="/chn"] {margin-right: 0;}*/
.util_link[href*="/chn"]:after {display: none;}


/* gnb_bg */
.gnb_bg {display: none; position: absolute; left: 0; top: 118px; width: 100%; height: 373px; background-color: #fff; border-bottom: 1px solid #d6d6d6;}
.gnb_bg.scrolled {top: 104px; }
.gnb_bg_txt{display: none; width: 100%; height: 372px; max-width: 1200px; margin: 0 auto; padding-top:70px; background-image: url(/images/common/gnb_txt_bg.png); background-size: 332px; background-repeat: no-repeat; /* background: url('/images/common/gnb_txt_bg.png') left center no-repeat ;*/}
.gnb_bg_txt .tit{color: #005b9e; font-size: 2.000em; font-weight: 300;}
.gnb_bg_txt .tit span{font-weight: 700;}
.gnb_bg_txt .tit2{color: #303030; font-size: 1.133em;}

.link_ico{display: inline-block; width: 20px; height: 13px; text-indent: -9999px; background: url('/images/sub/lift_link_ico.png') left 3px center no-repeat;}
.gnb_util_box {position:absolute; right:0px; top:50%; z-index:1; margin-top:-25px;}
.head_sch_btn {display:block; float:left; width:24px; height:26px; margin-top:3px; margin-right:8px; background: url('/images/common/search.png') center center no-repeat; font-size:26px; color: #fff; }
.sitemap_btn {display:block; position:relative; z-index:1; float:left; width:24px; height:18px; margin-top:8px;}
.sitemap_btn span {display:block; position:absolute; left:0; top:0; z-index:1; width:100%; height:3px; border-radius:2px; background-color:#fff; }
.sitemap_btn span.mid {top:50%; left: auto; right: 0; width: 80%; margin-top:-1px;}
.sitemap_btn span.btm {top:auto; bottom:0;}




/* .header.scrolled */

.header.scrolled .gnb_header {position:fixed; top:0; z-index:1; width:100%; box-shadow:0 2px 5px #555; background: #fff;}
.header.scrolled .gnb_header:hover{border-bottom: 1px solid #dedede;}

.header.scrolled .gnb_header .gnb > li > a{line-height: 80px; color: #000;}
.header.scrolled .head_logo{margin-top: -25px;}
.header.scrolled .gnb > li > a:after{bottom: 0;}
.header.scrolled .sub_gnb{top:91px;}
.header.scrolled .gnb_bg{top: 91px;}
.header.scrolled .head_sch_btn{background: url('/images/common/search_on.png') center center no-repeat; color: #000;}
.header.scrolled .sitemap_btn span{background-color: #000;}
.header.scrolled .gnb_util_box{margin-top: -21px;}


/* m_gnb */
.m_gnb_btn {display:none; position:absolute; right:20px; top:50%; z-index:1; width:24px; height:24px; margin-top:-12px;}
.m_gnb_btn span {display:block; position:absolute; left:0; top:0; z-index:1; width:100%; height:4px; border-radius:2px; background-color:#333; }
.m_gnb_btn span.mid {top:50%; margin-top:-2px;}
.m_gnb_btn span.btm {top:auto; bottom:0;}

.m_gnb_wrap {display:none; position:fixed; right:-480px; top:0; z-index:9999; overflow-y: auto; width: 100%; max-width: 480px; max-height:800px; height:100%; background-color:#fff;}
.m_gnb_top {height:70px; border-bottom:1px solid #e5e5e5; text-align:center;}
.m_logo {display: inline-block; vertical-align: middle;}
.m_logo img {max-height:60px;}
.m_gnb > li > a {display:block; position:relative; z-index:1; height:55px; line-height:55px; padding-left:10%; border-bottom:1px solid #e5e5e5; color:#000; font-size:22px;}
.m_gnb > li > a.on {background-color:#2e51ad; color:#fff;}
.m_sub_gnb {display:none; padding: 0 10%; background-color:#fff; border-bottom: 1px solid #e5e5e5;}
.m_sub_gnb > li > a {display:block; width:100%; height:40px; line-height:40px; border-top:1px solid #efede9; color:#000; font-size:16px;}
.m_sub_gnb > li:first-child > a {border-top:0 none;}
.m_sub2_gnb {padding:5px 10%; border-top: 1px solid #efede9;}
.m_sub2_gnb li a {display:block; padding:5px 0; color:#5a5340;}
.m_sub2_gnb li a:before {content:"-"; margin-right:5px; vertical-align:top;}
.m_gnb_close {display:block; position:absolute; top:20px; right:15px; z-index:1; width:30px; height:30px; line-height: 30px; color:#000; font-size:25px; text-align: center;}
.m_gnb_bg {display:none; position:fixed; left:0; top:0; z-index:9998; width:100%; height:100%; background-color:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0;}


.m_sub_gnb .sub_left_menu2 li{padding-left: 10px; background: url("/images/bull/bull_bar.jpg") 0px 9px no-repeat;}
.m_sub_gnb .sub_left_menu2 li:last-child{margin-bottom: 10px;}


/* footer */
.footer {position:absolute; bottom:0; z-index:1; width: 100%; padding:40px 0 60px;  background-color: #b9b9b9; border-top: 1px solid #dedede; font-family: 'Noto Sans KR', 'sans-serif';}
.footer .foot_logo {position: absolute;top: 0px;left: 5px;}
.footer .foot_con {float: left;padding-left: 250px;width: 770px;}
.footer .link {margin-bottom: 10px;  overflow: hidden;}
.footer .link > li {float: left; padding: 0 10px; border-left: 1px solid #9a9a9a;}
.footer .link > li:first-child {padding-left: 0; border-left: 0;}
.footer .link > li:last-child{padding-right: 0;}
.footer .link > li > a {color: #626262;  font-weight: 700; font-size: 0.867em;}
.footer .link > li > a b{color: #005b9e; font-weight: 700;}
.footer p{font-size: 0.875em; color: #7f7f7f;}
.footer .foot_area_box {position: absolute;right: 0;top: 0px;width: 280px;background-color: #b9b9b9;}
.footer .foot_area_box .foot_area {float: left;display: block;position: relative;width: 230px;height: 37px;padding-left: 10px;line-height: 37px;background: #b9b9b9;border: 1px solid #5c5c5c;text-align: left;color: #555556;font-size: 0.800em;}
.footer .foot_area_box .foot_area_btn{float: left; top: 0; right: 0; display: block; width: 50px; height: 37px; line-height: 37px; background-color: #555556; color: #fff; text-align: center; font-size: 0.800em;}
.footer .foot_area_box .foot_area option {    word-break: break-all;}
.foot_bottom .container {padding: 40px 0px;	}
.copyright {color: #666; font-size: 0.93em;}

.quick_box {position: fixed; left:50%; bottom: 70px; z-index: 2; margin-left: 600px;}
.q_share_box {display: none; position: relative; z-index: 1; margin-bottom: 5px;}
.quick_box button, .quick_box a {display: block; width: 30px; height: 30px; line-height: 30px; background-color: rgba(255,255,255,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr=#80ffffff,endColorStr=#80ffffff)";
border: 1px solid #ccc; font-size: 20px; text-align: center;}
.quick_box button:hover, .quick_box button:focus, .quick_box a:hover, .quick_box a:focus {font-size: 22px;}
.q_share_menu {display: none; position: absolute; left: 0; bottom: 35px; z-index: 1;}
.q_share_menu li {margin-bottom: 5px;}
.q_share_menu li:last-child {margin-bottom: 0;}
.quick_box .top_btn {}


/* email_popup */
.email_popup{display: none; position: fixed; top: 200px; left: 50%; width: 90%; max-width: 600px; margin-left: -300px; padding: 40px 20px 20px; z-index: 9999; background: #fff; border: 2px solid #005b9e;}
.email_popup .img_wrap{margin-bottom: 20px;}
.email_popup h2{margin-bottom: 10px; font-size: 2.267em; font-family:"NanumSquare"; font-weight: 700; }
.email_popup p{margin-bottom: 10px; font-size:0.867em; color:#555}
.email_popup p.name{font-size: 1.133em;}
.email_popup a{position: absolute; top:5px; right: 15px; font-size: 30px;}


/* sitemap */
.sitemap_box {display:none; position:fixed; left:0; top:0; right:0; bottom:0; z-index:9999; overflow:auto; padding:120px 0; background-color:rgba(22,23,23,0.97);}
.sitemap_box .inner_box {position:relative; z-index:1;}
.sitemap > li {float: left; width: 30%; margin-right: 3%; margin-bottom:20px; overflow:hidden; }
.sitemap > li:nth-chiild(4){clear: both;}
.sitemap > li:last-child {margin-bottom:0;}
.sitemap > li > a{display:block; float:left; width:100%; height:50px; line-height:50px; margin-right:2.5%; background-color:#005b9e; border: 1px solid #005b9e; color:#fff; font-family:"NanumSquare"; font-size:1.200em; text-align:center; transition:all 0.3s;}
.sitemap > li > a:hover {background-color:#25489a;}
.sitemap .sub_gnb {display: block; float: left; width: 100%; min-height: 420px;  padding: 25px 30px; border: 1px solid #757575; border-top: none;}
.sitemap .sub_gnb > li {float:left; width:100%; margin-bottom:0px; padding:3px 18px; /* border-left:1px solid #4a4a4a; */}
.sitemap .sub_gnb > li > a {color:#fff; font-size:1.06em; word-break:keep-all;}
.sitemap .sub_left_menu2 {margin-top:10px; margin-bottom: 5px;}
.sitemap .sub_left_menu2.map {display: none;}
.sitemap .sub_left_menu2 > li {margin-bottom:5px;}
.sitemap .sub_left_menu2 > li:last-child {margin-bottom:0;}
.sitemap .sub_left_menu2 > li > a{padding-left: 10px; background: url('/images/common/sitemap_dot.png') left 3px top 9px no-repeat; font-size: 0.933em; color:#b5b5b5; word-break:keep-all;}
.sitemap .sub_left_menu2 > li > a:hover {color:#039be5; text-decoration:underline;}
.sitemap_close {position:absolute; right:10px; top:-100px; z-index:1; overflow:hidden; width:45px; height:45px; line-height:1; color:#f4f4f4; font-size:45px; transition:all 0.3s;}
.sitemap_close:hover {transform:rotate(180deg);}
.sitemap_box .link_ico{display: none;}
.sitemap > li.service ul {min-height: 333px;}

/* partner_wrap */
.partner_wrap{position: absolute; top:-70px; width: 100%; border-top: 1px solid #dedede;}
.partner_wrap .partner_slide li{float: left;}
/* banner_slider */
.banner_box {overflow:hidden;}
.partner_box{padding-right: 150px;}
.banner_box .container {height: auto !important;}
.partner_slide .tbl_div {display: table; width: auto; margin: 0 auto; border-collapse: collapse; table-layout: fixed; }
.partner_slide .tbl_div a {display: table-cell; height: 70px; padding: 10px; text-align: center; vertical-align: middle;}
.partner_slide .tbl_div a img {display: inline; width: 100%; max-height: 100%;}
.banner_box .slick-slider {padding-left: 45px;}
.banner_controls {position: absolute; right:0; top: 0; z-index: 1; width: 140px;}
.bn_control {float: left; display: inline-block; width: 70px; height: 70px; background: center center no-repeat; border: 1px solid #dadada; border-top: none; border-bottom: none;}
.bn_control.prev {background-image: url('/images/sub/site_prev.png');border-right: none;}
.bn_control.next {margin-top: -1px; background-image: url('/images/sub/site_next.png'); }
.bn_control.play {margin-top: -1px; background-image: url('/images/sub/site_play.png');}
.bn_control.stop {margin-top: -1px; background-image: url('/images/sub/site_stop.png');}
.mark_img {float: left;}