@charset 'UTF-8';

@media print {
	@page {size: auto; page-break-after: always;}
	.header {display: none;}
	.sub_top {display: none;}
	.sub_left {display: none;}
	.sub_right {width: 100% !important; padding-left: 0 !important; float: none; font-size: 12px;}
	.sub_rtop {padding-top: 0 !important;}
	.footer {display: none;}
	.sub_con {padding-bottom: 0 !important;}	
	.contents.sub >.container{top: 0px !important;}
	.con_director > div{padding: 10px 0px !important;}
	.tab {display: none;}
	.sub_sch_box{display: none;}
}
@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}	