@charset "utf-8";
/* var() */
:root {

}

/* icon */
/* 
좌 화살표
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 2' viewBox='0 0 17.42 8.99'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M4.49 8.24.75 4.49 4.49.75' style='stroke-linecap:round;fill:none;stroke:%23000;stroke-linejoin:round;stroke-width:1.5px'/%3E%3Cpath d='M.75 4.49h16.67' style='fill:none;stroke:%23000;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/g%3E%3C/svg%3E");

우 화살표
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 2' viewBox='0 0 17.42 8.99'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='m12.93.75 3.74 3.74-3.74 3.75' style='stroke-linecap:round;fill:none;stroke:%23000;stroke-linejoin:round;stroke-width:1.5px'/%3E%3Cpath d='M16.67 4.49H0' style='fill:none;stroke:%23000;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/g%3E%3C/svg%3E");

플레이 버튼
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 2' viewBox='0 0 9.79 10.91'%3E%3Cpath d='m0 0 9.49 4.95c.41.21.41.8 0 1.01L0 10.91V0Z' data-name='Layer 1'/%3E%3C/svg%3E");

스톱 버튼
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' data-name='Layer 2' viewBox='0 0 6.99 9.83'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:1.75px%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='M.88 9.83V0M6.11 0v9.83' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");

*/

/* visual */
.visual {
  width: 100%;
}
.visual .visual_contents > div {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  height: 640px;
  background-color: #444;
  color: #fff;
  font-weight: 600;
  padding: 45px 0;
}
.visual .visual_contents h2.title {
  font-size: 40px;
}
.visual .visual_contents p.text {
  font-size: 16px;
}