@charset 'UTF-8';

/********* reset.css **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1,h2,h3,h4,h5,h6 {font-size:1em; font-weight:normal;}
ul,ol,li {list-style-type:none;}
a {color: #333; text-decoration:none;}
img {max-width:100%; max-height:100%; border:0 none; vertical-align:top;}
address {font-style:normal;}
/* 에디터 삽입 컨텐츠 내 테이블 스타일 적용을 위해 주석처리.
table {width:100%; border-spacing: 0; border-collapse:collapse; table-layout:fixed;}
*/
button {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border:0 none; background-color:transparent; font-family:inherit; font-size:inherit; cursor:pointer;}
input {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0;}
textarea {width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
select {cursor:pointer;}

/* 에디터 삽입 컨텐츠 리셋스타일 제거. */
.editor_view ol, .editor_view ol > li {list-style-type:decimal;}
.editor_view ul, .editor_view ul > li {list-style-type:disc;}
.editor_view ol, .editor_view ul {padding-left:19px;}
.editor_view i, .editor_view em {font-style:italic;}
.editor_view b, .editor_view strong {font-weight:bold;}


/* 메인디자인개편 추가 20200608 */
/* font */
@font-face {
  font-family: 'NotoKR';
  font-weight: 400;
  src:url(../../fonts/notoSansKR-Light.eot);
  src:url(../../fonts/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),url(../../fonts/notoSansKR-Light.woff) format('woff'),url(../../fonts/notoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 500;
  src:url(../../fonts/NotoSansKR-Regular.eot);
  src:url(../../fonts/notoSansKR-Regular.eot?#iefix) format('embedded-opentype'),url(../../fonts/notoSansKR-Regular.woff) format('woff'),url(../../fonts/notoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 700;
  src:url(../../fonts/notoSansKR-Medium.eot);
  src:url(../../fonts/notoSansKR-Medium.eot?#iefix) format('embedded-opentype'),url(../../fonts/notoSansKR-Medium.woff) format('woff'),url(../../fonts/notoSansKR-Medium.otf) format('opentype');
}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body,button,input,select,table,textarea{font-family:'NotoKR','Malgun Gothic',Arial,sans-serif;font-size:15px;font-weight:500;color:#595959;line-height:1.6;letter-spacing:-0.04em}
html{height:100%}
body{height:100%;-webkit-text-size-adjust:none}
button,fieldset,img{border:0 none}
fieldset,img{border:0}
img,li{vertical-align:top}
li,ol,ul{list-style:none}
address,em{font-style:normal}
a{color:inherit;text-decoration:none}
a:active,a:focus,a:hover{text-decoration:none}
button{border:0;background:0 0;cursor:pointer}
table{margin:0;padding:0;border:0;border-spacing:0;border-collapse:collapse;}
input,select,textarea,button{vertical-align:top}
input,select,textarea{border:0;background:0;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none}
select::-ms-expand{display:none}
select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
textarea{resize:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none}
embed,iframe,img,object,video{max-width:100%;max-height:240px; }
input[type=search]::-ms-clear,input[type=search]::-ms-reveal,input[type=text]::-ms-clear,input[type=text]::-ms-reveal{display:none;width:0;height:0}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:none;border-radius:0;background-color:transparent}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0}
.ir-text,legend,.blind,.ui-datepicker table caption{overflow:hidden;position:absolute;border:0;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}


@media screen and (max-width:1239px){
  html{font-size:10px;font-size:0.625rem;}
  body,button,input,select,table,textarea{font-size:1.6rem;letter-spacing:-0.05rem;}
}


@media (min-width:768px) and (max-width:1024px){

}

@media screen and (max-width:767px) {
  html{font-size:10px;font-size:0.625rem;-webkit-text-size-adjust: none;}
  body,html{height:100%}
  body,button,input,select,table,textarea{font-size:1.6rem}
}

.block-el {display:block;width:100%;clear:both;}
.text-l {text-align: left;}
.wd-100p {width: 100%;}
.wd-100 {width:100px;}
.mt-0 {margin-top:0px;}
.mt-20 {margin-top:20px;}
.mt-50 {margin-top:50px;}
.mt-30 {margin-top:30px;}
.mr-10 {margin-right:10px;}
.ml-20 {margin-left: 20px;}
.wd-877 {width:877px;}

.check_wrap{position:relative;vertical-align: middle;}
.check_wrap input[type="checkbox"]{width:15px;height:15px;margin:0;padding:0;}
.check_wrap label.chk-box{display:inline-block;width:15px;height:15px;margin:0 0 0 -18px;border:1px solid #d3d3d3;background:#fff;vertical-align:middle;cursor:pointer;z-index:10;}
.check_wrap label.chk-box.on, .check_wrap input[type="checkbox"]:checked + label.chk-box{background-image:url(/img/sub/input-check.png);background-repeat:no-repeat;background-position:50% 60%;}

.check_box_wrap{position:relative;vertical-align: middle;}
.check_box_wrap input[type="checkbox"]{overflow:hidden;position:absolute;top:3px;left:0;width:16px;height:16px;margin:0;padding:0;border:0 none;}
.check_box_wrap label.chk-box{display:inline-block;padding-left:22px;}
.check_box_wrap label.chk-box:before{display:inline-block;position:absolute;top:3px;left:0;width:15px;height:15px;margin:0;border:1px solid #d3d3d3;background:#fff;vertical-align:middle;cursor:pointer;z-index:10;content:'';}
.check_box_wrap label.chk-box.on:before, .check_box_wrap input[type="checkbox"]:checked + label.chk-box:before{background-image:url(/img/sub/input-check.png);background-repeat:no-repeat;background-position:50% 60%;}

.radio_wrap{display:inline-block;position:relative;margin-right:20px;vertical-align: middle;}
.radio_wrap input[type="radio"]{overflow:hidden;width:15px;height:15px;margin:0;padding:0;vertical-align: middle;}
.radio_wrap label.inp_rdo:before{display:inline-block;width:15px;height:15px;margin: 0 10px 0 -19px;border:1px solid #d3d3d3;border-radius:15px;background:#fff;vertical-align:middle;cursor:pointer;z-index:10;content:'';}
.radio_wrap label.inp_rdo.on:before, .radio_wrap input[type="radio"]:checked + label.inp_rdo:before{background-image:url(/img/sub/input-radio.png);background-repeat:no-repeat;background-position:50% 60%;}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }

/* 지속가능경영 메뉴 관련 css */
 .esg-mng a{
	border-radius: 10px;
    background-color: #233966;
    width: 420px;
    display: block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.esg-mng > a > span{
    font-size: 18px;
    line-height: 50px;
    letter-spacing: -0.06em;
    color: #fff;
    position: relative;
}
